<navbar></navbar>
<div class="layout-container" ui-view></div>

<div class="layout-container">
  <footer>
    <span layout="row"><hr flex/></span>
    <div layout="row" layout-align="end center" ng-controller="layoutCtrl as vm">
      <a target="_blank" href="{{vm.HOST}}:3002/MillionSongLibrary.html"> Architecture Documentation</a>
      <a target="_blank" href="{{vm.HOST}}:3003">CSS Style Guide</a>
      <a target="_blank" href="{{vm.HOST}}:3004"> Javascript Reference</a>
    </div>
  </footer>
</div>

<player></player>
